body {
    background-image: linear-gradient(rgb(234, 255, 184), rgb(236, 216, 180));
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-bar {
    background-color: hsl(0, 0%, 25%);
    padding: none;
    margin: 0px;
    margin-left: 0;
}

.nav-bar a {
    color: black;
    text-decoration: none;
    padding: 5px;
    display: flex;
    text-align: center;
    float: left;
}

/* name padding under nav bar for mobile and tablet responsiveness */
@media only screen and (max-width: 400px) {
    .nav-bar {
        padding-inline: 2rem;
    }
}

#name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    padding: 40px;
}

#About {
    padding: 5px;
    text-align: center;
}

#Experience {
    padding: 5px;
    text-align: center;
}

.paragraph-intro {
    text-align: left;
    margin: 2em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    color: black;
    border-radius: auto;
    padding: 5px;
    border-width: 0.2em;
    margin-left: 24em;
    text-align: left;
}

.flex-container>div {
    width: 450px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    border: #f1f1f1;
    font-size: medium;
    text-align: left;
}

.flex-container-2>div {
    width: 400px;
    text-align: left;
    line-height: 25px;
    font-size: 20px;
    font-size: medium;
    padding-left: 40px;
    margin-left: 21.9em;
    text-align: left;
    padding-bottom: 40px;  /*additional padding before projects section*/
}

/* widescreen media 1400px */

@media screen and (min-width: 1400px) {
    .flex-container {
        width: 1370px;
        margin-left: 24rem;
    }
}

@media screen and (min-width: 1400px) {
    .flex-container-2 {
        width: 1370px;
        margin-left: 0rem;

    }
}


/* widescreen media 1500px */

@media screen and (min-width: 1500px) {
    .flex-container {
        width: 1470px;
        margin-left: 28rem;
    }
}

@media screen and (min-width: 1500px) {
    .flex-container-2 {
        width: 1470px;
        margin-left: 4rem;
    }
}

/* widescreen media 1600px */

@media screen and (min-width: 1600px) {
    .flex-container {
        width: 1570px;
        margin-left: 30rem;
    }
}

@media screen and (min-width: 1600px) {
    .flex-container-2 {
        width: 1570px;
        margin-left: 6rem;
    }
}

/* widescreen media 1700px */

@media screen and (min-width: 1700px) {
    .flex-container {
        width: 1670px;
        margin-left: 34rem;
    }
}

@media screen and (min-width: 1700px) {
    .flex-container-2 {
        width: 1670px;
        margin-left: 10rem;
    }
}

/* widescreen media 1800px */

@media screen and (min-width: 1800px) {
    .flex-container {
        width: 1770px;
        margin-left: 36rem;
    }
}

@media screen and (min-width: 1800px) {
    .flex-container-2 {
        width: 1770px;
        margin-left: 12rem;
    }
}

/* widescreen media 1900px */

@media screen and (min-width: 1900px) {
    .flex-container {
        width: 1870px;
        margin-left: 38rem;
    }
}

@media screen and (min-width: 1900px) {
    .flex-container-2 {
        width: 1870px;
        margin-left: 14rem;
    }
}

/* mobile and tablet responsive design for container 1 */

@media only screen and (max-width: 700px) {
    .flex-container {
        margin-left: 2rem;
        overflow: hidden;
    }
}

@media only screen and (max-width: 820px) {
    .flex-container {
        margin-left: 2rem;
        overflow: hidden;
    }
}

/* mobile and tablet responsive design for container 2 */

@media only screen and (max-width: 700px) {
    .flex-container-2>div {
        margin-left: 0rem;
        width: auto;
        overflow: hidden;
    }
}

@media only screen and (max-width: 820px) {
    .flex-container-2>div {
        margin-left: 0rem;
        width: auto;
        overflow: hidden;
    }
}

.title-org-1,
.title-org-2 {
    width: 330px;
    line-height: 10px;
    font-size: 20px;
    border: #f1f1f1;
    font-size: larger;
    padding-top: 40px;
    padding-left: 30px;
    margin-left: 16.6em;
    text-align: left;
}

/* mobile and tablet responsive design for titles */

@media only screen and (max-width: 700px) {

    .title-org-1,
    .title-org-2 {
        margin-left: -2rem;
    }
}

@media only screen and (max-width: 820px) {

    .title-org-1,
    .title-org-2 {
        margin-left: -2rem;
    }
}

/* large screen responsive design for titles */

@media screen and (min-width: 1400px) {

    .title-org-1,
    .title-org-2 {
        width: 1370px;
        margin-left: 20rem;
    }
}

/* 1500 */

@media screen and (min-width: 1500px) {

    .title-org-1,
    .title-org-2 {
        width: 1470px;
        margin-left: 24rem;
    }
}

/* 1600 */

@media screen and (min-width: 1600px) {

    .title-org-1,
    .title-org-2 {
        width: 1570px;
        margin-left: 26rem;
    }
}

/* 1700 */

@media screen and (min-width: 1700px) {

    .title-org-1,
    .title-org-2 {
        width: 1670px;
        margin-left: 30rem;
    }
}

/* 1800 */

@media screen and (min-width: 1800px) {

    .title-org-1,
    .title-org-2 {
        width: 1770px;
        margin-left: 32rem;
    }
}

/* 1900 */

@media screen and (min-width: 1900px) {

    .title-org-1,
    .title-org-2 {
        width: 1870px;
        margin-left: 36rem;
    }
}


#Connect {
    text-align: center;
}

#Connect ul li {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#github-logo {
    width: 40px;
    align-items: center;
    margin-right: 2em;
}

#email-icon {
    width: 40px;
    align-items: center;
    margin-right: 2em;
}

#Skills {
    padding-top: 40px;
    padding: 5px;
    text-align: center;
    margin: 2em;
}

#Skills li {
    padding-top: 40px;
    padding: 5px;
    margin-left: -2.7em;
    display: inline-flex;
    margin: 3rem;
}

@media only screen and (max-width: 820px) {
    #Skills li {
        text-align: center;
        margin-left: 1em;
    }
}

#Projects {
    padding: 5px;
    text-align: center
}

#Projects>ul {
    padding: 5px;
    text-align: center;
}

ul {
    list-style-type: none;
}

#message-section-form {
    padding: 2em;
    text-align: center;
}

#message-section {
    text-align: center;
}